<form action="/verificare-autentificare" method="post">
    <br/>
    <fieldset>
        <span style="color: rgb(100, 8, 8);"><%-mesajEroare %></span> <br/>
        <label> Utilizator:</label><br>
        <input type="text" id="uname" name="unameN"><br>
        <label> Parolă:</label><br>
        <input type="password" id="pname" name="pnameN"><br><br>
        <button class= "button" type="submit" > Autentificare</button>
    </fieldset>
</form>