<!DOCTYPE html>
<html>
    <head>
        <title>It's Time for coffee</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
        <header>
            <h1>It's Time for Coffee </h1><br>
        </header>
       
     
        <div class="topnav">
            <a href = "/"> Acasă</a>
            <a href="autentificare">Autentificare </a> 
            <a href = "chestionar"> Chestionar</a>
            <a href = "vizualizare-cos"> Vizualizare coș</a>   
            <a href="/logout">Delogare</a> 
            <a href="/admin">Admin</a>
        </div>
        
    <body>
        <main>
            <%- body %>
        </main>

        <footer >
            <hr>
            &#169; 2022 It's Time for Coffee
        </footer>
    </body>
</html>